/* Casey Neistat Minimalist Foundation */

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'Courier Prime', monospace;
  background-color: #f2f2f2;
  color: #111;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img {
  max-width: 100%;
  display: block;
  border-radius: 0;
  box-shadow: none;
}

a {
  color: #111;
  text-decoration: underline;
}

a:hover {
  text-decoration: none;
}

.container {
  max-width: 720px;
  margin: 0 auto;
  padding: 40px 20px;
}

section {
  margin-bottom: 80px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Courier Prime', monospace;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 20px;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
  text-transform: uppercase;
  margin-bottom: 30px;
}

h3 {
  font-size: 1.25rem;
  text-transform: uppercase;
}

p {
  margin-top: 0;
  margin-bottom: 20px;
}

/* Specific Elements */

.intro h1 {
  margin-bottom: 5px;
}

.intro .subtitle {
  margin-bottom: 0px;
  font-weight: 700;
}

.project-item {
  margin-bottom: 80px;
}

.project-item img {
  margin-bottom: 20px;
  border: 1px solid #ccc;
}

.project-item h3 {
  margin-bottom: 5px;
}

.project-item p {
  margin-bottom: 5px;
}

.links ul,
.now ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.links li,
.now li {
  margin-bottom: 15px;
}